build/*
*.eep
*.elf
*.lss
*.lst
*.map
*.sym
*.xcodeproj
*.hex
*.o
.dep
build
*.xcodeproj
Info.plist
applet
PkgInfo
main.scpt
applet.icns
applet.rsrc
TXT.rtf
Hallo.sh
AVR_Tem.c
runavarice.sh
*Datum_Version_aktualisieren*
*/mag/*
Log*
Makefile
crc8.*